<div class="floating-header">
    <div class="floating-header-logo">
        <a href="{{@blog.url}}">
            {{#if @blog.icon}}
                <img src="{{@blog.icon}}" alt="{{@blog.title}} icon" />
            {{/if}}
            <span>{{@blog.title}}</span>
        </a>
    </div>
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{title}}</div>
    <div class="floating-header-share">
        <div class="floating-header-share-label">Share this {{> "icons/point"}}</div>
            <!-- Twitter-->
        <a class="floating-header-share-tw" href="https://twitter.com/share?text=You will love this article on {{encode title}}&amp;url={{url absolute="true"}}"
            onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
            {{> "icons/twitter"}}
        </a>
            <!-- Facebook-->
        <a class="floating-header-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
            onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
            {{> "icons/facebook"}}
        </a>
        <!-- Google +-->
        <a class="floating-header-share-fb" style="background: #0077b5;" href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source={{url absolute="true"}}"
            onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
            <i class="fa fa-linkedin" style="transform:scale(1.3);"></i>
        </a>
          <!-- Linkedin -->
        <a class="floating-header-share-fb" style="background: #dd4b39;" href="https://plus.google.com/share?url={{url absolute="true"}}"
            onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
            <i class="fa fa-google-plus" style="transform:scale(1.3);"></i>
        </a>
    </div>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
