{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer">

    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer" role="main">

    <div class="inner">

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <header class="post-full-header">
                <h1 class="post-full-title">{{title}}</h1>
                <h4><span>

                        <a href="#" style="color: #1b1e21">
                            <div data-network="twitter" class="st-custom-button fa fa-twitter-square "></div>
                        </a>
                        <a href="#" style="color: #1b1e21">
                            <div data-network="facebook" class="st-custom-button fa fa-facebook-square"></div>
                        </a>
                        <a href="#" style="color: #1b1e21">
                            <div data-network="linkedin" class="st-custom-button fa fa-linkedin-square"></div>
                        </a>
                        <a href="#" style="color: #1b1e21">
                            <div data-network="googleplus" class="st-custom-button fa fa-google-plus-square"></div>
                        </a>
                    </span>
                </h4>
            </header>

            {{#if feature_image}}
            <figure class="post-full-image" style="background-image: url({{feature_image}})">
            </figure>
            {{/if}}

            <section class="post-full-content">
                {{content}}
            </section>

        </article>

    </div>
</main>

{{/post}}


<script type="text/javascript" src="{{asset "js/left-sidebar.js"}}"></script>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(function () {
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
    });
</script>

<style>
a#referencelink {
   display: block; 
   cursor:pointer; 
   background:rgb(181, 222, 250); 
   padding-top:20px; 
   padding-bottom:20px; 
   width:100%; 
   text-align:center; 
   font-size: 20px; 
   color: black;
}
</style>

{{/contentFor}}